.App {
  text-align: center;
}


.alert {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header#newpostheader {
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}


.rec-card {
  width: 60%;
}

.rec-row {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.d-flex {
  margin-top : 20px;
}