
.friendscardct {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
  max-height: 10vh;
  overflow-y: auto;
}


.CurrentTrip {
  text-align: center;
}

h4 {
  padding-top: 20px;
}

.CurrentTrip img {
  max-width:5vw;
  padding-top: 0;
}

.friends {
  padding-bottom:5vh;
}

.links {
  padding-bottom:5vh;
}

.buttons {
  display: flex;
  margin: 5px;
  display: inline-block;
}

.ct-links {
  display: flex;
  justify-content: space-evenly;
}

.form-check-input {
  display:inline-block; 
  position:absolute;
  right: .5rem; 
}

.todo .list-group-item {
  text-align: left;
  padding: .75rem 1.75rem;
}