.postform {
    margin: auto;
    width: 50%;
}

.dashboard {
    text-align: center;
}

h3 {
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
}


.dash-card {
    margin-left: 20px;
    margin-right: 20px;
    
}