.App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  /* styles shared by all screens within the app */
  
  .container {
    border: 1px solid black;
    max-width: 800px;
    margin: 0 auto;
    padding: 0;
  }
  
  /* each screen has a main content area with an image, and a paragraph */
  .main-content {
    margin: 20px;
    display: flex; /* use css flexbox for elements inside of this element */
  }
  
  .main-content p,
  .main-content img {
    flex: auto;
    align-items: center;
  }
  
  .main-content p {
    margin-left: 20px;
  }
  
  .main-content img {
    object-fit: contain;
  }
  
  h1 {
    font-family: georgia;
    margin-left: 20px;
  }
  
  p {
    font-family: helvetica;
  }
  