.signin {
    text-align: center;
    padding-top: 12px;
    color : white;
    
}

h2 {
    font-size: medium;
    text-align: center;
    padding-top: 20px;
    color : white;
}

#loginlogo {
    margin-top: 200px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#logincont {
    margin-top: 20px;
    background-color : #02182b;
    padding-bottom : 0;
}