.signin {
    text-align: center;
    padding-top: 160px;
}

h2 {
    font-size: medium;
    text-align: center;
    padding-top: 20px;
}

img {
    padding-top: 210px;
    width: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}