.new-trip-buttons {
    display: flex;
    justify-content: space-evenly;
}

.new-trip-backbtn {
    display: flex;
    justify-content: space-between;
}

.buttons {
    display: flex;
    margin: 5px;
    display: inline-block;
}

.todolist {
  width: 400px;
}

.todo {
  align-items: center;
  display: flex;
  font-size: 18px;
  justify-content: space-between;
}