.App {
  text-align: center;
}

.logo {
  position:inline;
  top: 1vmin;
  height: 10vmin;
  pointer-events: none;

}

.alert {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: white;
  min-height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-title {
  background-color: white;
  margin-top: 5vmin;
  margin-bottom: 5vmin;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 3vmin);
  color: black;
}

.App-body {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* font-size: calc(10px + 2vmin); */
  color: black;
}

.App-form {
  position: relative;
  width: 50%;
  padding: 1rem;
  border: .2rem solid #ececec;
  border-radius: 8px;
  margin-right: 0;
  margin-left: 0;
  color: #212529;
}

.card-columns {
  width: 60%
}

.rec-card {
  width: 60%;
}

.rec-row {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}