.App-header{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.responsive{
    text-align: center;
}

.profilecards {
    margin-left: 20px;
    margin-right: 20px;
}

.indiv-card {
    padding-bottom : 10px;
}